body{
    background-image: url("../img/pokemon\ 5\ recortado.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.card {
    background-color: transparent;
}

#pokemones{
    margin-left: 150px;
}

.text-color{
    color: #000;
}


#margin-button{
    margin-left: 170px;
}

#button_next {
    margin-left: 1393px;
}